<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.0/mini-default.min.css">
</head>

<div class="container">


    <div class="row">

        <h2>
            Welcome to the Plateau, {{ request.user }}
        </h2>
    </div>
    <div class="row">

        <div class="col-sm-1">
        </div>
        <div class="col-sm-8">

            <div class="section">
                <h3> Server info</h3>
                Todo: actually make a server info page
            </div>

        </div>

        <div class="col-sm-2">

            <div class="card">
                <div class="section">
                    <h3>Admin Actions</h3>
                </div>


                <div class="section">
                    <h4>Map</h4>
                    <div class="button" >Clear the map</div>
                    <div class="button">Generate chunks for Wrocław</div>
                </div>

                <div class="section">
                    <h4>Database</h4>
                    <div class="button">Make migrations</div>
                    <div class="button">Perform migrations</div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>

</html>